{% extends "admin/change_list.html" %}

{% block result_list %}
    <div style="margin-bottom: 20px;" class="module">
        {% if has_add_permission %}
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" 
               class="button"
               style="

                   padding: 8px 20px;
                   border-radius: 8px;
                   text-decoration: none;
                   font-weight: 500;
                   font-size: 14px;
                   display: inline-flex;
                   align-items: center;
                   gap: 6px;
                   border: none;
                   cursor: pointer;
               "
   >
                <span style="font-size: 16px;">+</span>
                افزودن {{ opts.verbose_name }}
            </a>
        {% endif %}
    </div>
    {{ block.super }}
{% endblock %}