{% extends "base_site.html" %}
{% block content %}

<h1 class="text-2xl font-bold mb-6">
    دسته: {{ category.name }}
</h1>

<div class="grid md:grid-cols-3 gap-6">

{% for news in news_list %}
<div class="bg-white rounded-xl shadow p-4">

    <img src="{{ news.featured_image.url }}" class="h-40 w-full object-cover rounded mb-3">

    <h3 class="font-bold mb-2">{{ news.title }}</h3>

    <a href="{{ news.get_absolute_url }}" class="text-primary">
        مشاهده
    </a>

</div>
{% endfor %}

</div>

{% endblock %}